# <font color='blue'>Data Science Academy - Python Fundamentos - Capítulo 2</font>

## Download: http://github.com/dsacademybr

In [ ]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

## Variáveis e Operadores

In [29]:
# Atribuindo o valor 1 à variável var_teste
michelle = 28
michelle == 28

True

In [13]:

michelle = 'é uma má pessoa'

In [15]:
var_teste = 10

In [26]:
f"{michelle + ' ', michelle}"

"('é uma má pessoa ', 'é uma má pessoa')"

In [16]:
# Imprimindo o valor da variável
var_teste + var_teste

20

In [ ]:
# Imprimindo o valor da variável
print(var_teste)

In [27]:
# Não podemos utilizar uma variável que não foi definida. Veja a mensagem de erro.
my_var

NameError: name 'my_var' is not defined

In [48]:
var_teste = 2.8

In [49]:
int(var_teste)

2

In [50]:
type(var_teste)

float

In [33]:
var_teste = 9.5

In [34]:
type(var_teste)

float

In [51]:
x = 1

In [52]:
x

1

## Declaração Múltipla

In [55]:
pessoa1, pessoa2, pessoa3 = "Maria", "José", "Tobias"

In [58]:
pessoa1

'Maria'

In [56]:
pessoa2

'José'

In [59]:
pessoa3, pessoa1

('Tobias', 'Maria')

In [ ]:
fruta1 = fruta2 = fruta3 = "Laranja", "arroz", "cenoura"

In [ ]:
fruta1

In [ ]:
fruta2

In [ ]:
fruta3

In [ ]:
# Fique atento!!! Python é case-sensitive. Criamos a variável fruta2, mas não a variável Fruta2.
# Letras maiúsculas e minúsculas tem diferença no nome da variável.
Fruta2

## Pode-se usar letras, números e underline (mas não se pode começar com números)

In [60]:
x1 = 50

In [61]:
x1

50

In [62]:
# Mensagem de erro, pois o Python não permite nomes de variáveis que iniciem com números
1x = 50

SyntaxError: invalid syntax (2417288693.py, line 2)

## Não se pode usar palavras reservadas como nome de variável

## False      
## class      
## finally    
## is         
## return
## None       
## continue   
## for        
## lambda     
## try
## True       
## def        
## from       
## nonlocal   
## while
## and        
## del        
## global     
## not        
## with
## as         
## elif       
## if         
## or         
## yield
## assert     
## else       
## import     
## pass
## break      
## except     
## in         
## raise

In [63]:
# Não podemos usar palavras reservadas como nome de variável
break = 1

SyntaxError: invalid syntax (103517557.py, line 2)

## Variáveis atribuídas a outras variáveis e ordem dos operadores

In [64]:
largura = 2

In [65]:
altura = 4

In [66]:
area = largura * altura

In [67]:
area

8

In [79]:
perimetro = 2 * largura + 2 * altura

In [80]:
perimetro

12

In [81]:
# A ordem dos operadores é a mesma seguida na Matemática
perimetro = 2 * (largura + 2)  * altura

In [82]:
perimetro

32

## Operações com variáveis

In [96]:
idade1 = 25

In [95]:
idade2 = 35

In [85]:
idade1 + idade2

60

In [87]:
idade1 - idade2

-10

In [88]:
idade2 * idade1

875

In [90]:
idade2 / idade1

1

In [97]:
idade2 % idade1

10

## Concatenação de Variáveis

In [106]:
nome = "stTTTTve"

In [99]:
sobrenome = "Jobs"

In [100]:
nomeinteiro = nome +" "+ sobrenome

In [104]:
nome.upper()

'STEVE'

In [107]:
nome.lower()

'stttttve'

In [102]:
nomeinteiro

'Steve Jobs'

# Fim

### Obrigado

### Visite o Blog da Data Science Academy - <a href="http://blog.dsacademy.com.br">Blog DSA</a>