# <font color='blue'>Data Science Academy - Python Fundamentos - Capítulo 2</font>

## Download: http://github.com/dsacademybr

In [ ]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

## Listas

In [ ]:
# Criando uma lista
listadomercado = ["ovos, farinha, leite, maças"]

In [ ]:
# Imprimindo a lista
print(listadomercado)

In [ ]:
# Criando outra lista
listadomercado2 = ["ovos", "farinha", "leite", "maças"]

In [ ]:
# Imprimindo a lista
print(listadomercado2)

In [ ]:
# Criando lista
lista3 = [12, 100, "Universidade"]

In [ ]:
# Imprimindo
print(lista3)

In [1]:
lista3 = [12, 100, "Universidade"]

In [2]:
# Atribuindo cada valor da lista a uma variável.
item1 = lista3[0]
item2 = lista3[1]
item3 = lista3[2]

In [3]:
# Imprimindo as variáveis
print(item1, item2, item3)

12 100 Universidade

In [6]:
listadomercado2 =["agua", "oleo","esqueci", "cebola"]

### Atualizando um item da lista

In [7]:
# Imprimindo um item da lista
listadomercado2[2]

'esqueci'

In [8]:
# Atualizando um item da lista
listadomercado2[2] = "chocolate"

In [9]:
# Imprimindo lista alterada
listadomercado2

['agua', 'oleo', 'chocolate', 'cebola']

### Deletando um item da lista

In [10]:
# Out of index. Não é possível deletar um item que não existe na lista
del listadomercado2[4]

IndexError: list assignment index out of range

In [11]:
# Deletando um item específico da lista
del listadomercado2[3]

In [12]:
# Imprimindo o item com a lista alterada
listadomercado2

['agua', 'oleo', 'chocolate']

### Listas de listas (Listas aninhadas)
Listas de listas são matrizes em Python

In [15]:
# Criando uma lista de listas
listas = [[1,2,3], [10,15,14], [10.1,8.7,2.3]]

In [16]:
# Imprimindo a lista
listas

[[1, 2, 3], [10, 15, 14], [10.1, 8.7, 2.3]]

In [17]:
listamais = listas, [1,2,3]

In [18]:
listamais

([[1, 2, 3], [10, 15, 14], [10.1, 8.7, 2.3]], [1, 2, 3])

In [19]:
# Atribuindo um item da lista a uma variável
a = listas[0]

In [20]:
a

[1, 2, 3]

In [24]:
b = a[1]

In [25]:
b

2

In [32]:
list1 = listas[1]

In [33]:
list1

[10, 15, 14]

In [35]:
valor_1_0 = list1[0]

In [36]:
valor_1_0

10

In [41]:
valor_1_2 = list1[2]

In [42]:
valor_1_2

14

In [43]:
list2 = listas[2]

In [44]:
list2

[10.1, 8.7, 2.3]

In [45]:
valor_2_0 = list2[0]

In [46]:
valor_2_0

10.1

### Operações com listas

In [47]:
# Criando uma lista aninhada (lista de listas)
listas = [[1,2,3], [10,15,14], [10.1,8.7,2.3]]

In [48]:
listas

[[1, 2, 3], [10, 15, 14], [10.1, 8.7, 2.3]]

In [53]:
mate = listas[1][1] / listas[0][1]

In [54]:
mate

7.5

In [55]:
# Atribuindo à variável a, o primeiro valor da primeira lista
a = listas[0][0]

In [56]:
a

1

In [57]:
b = listas[1][2]

In [58]:
b

14

In [59]:
c = listas[0][2] + 10

In [60]:
c

13

In [61]:
d = 10

In [62]:
d

10

In [63]:
e = d * listas[2][0]

In [64]:
e

101.0

### Concatenando listas

In [65]:
lista_s1 = [34, 32, 56]

In [66]:
lista_s1

[34, 32, 56]

In [67]:
lista_s2 = [21, 90, 51]

In [68]:
lista_s2

[21, 90, 51]

In [69]:
# Concatenando listas
lista_total = lista_s1 + lista_s2

In [70]:
lista_total

[34, 32, 56, 21, 90, 51]

## Operador in

In [71]:
# Criando uma lista
lista_teste_op = [100, 2, -5, 3.4]

In [87]:
a = (-5 in lista_teste_op)

In [88]:
b = (101 in lista_teste_op)

In [90]:
a = b

In [92]:
a

False

In [93]:
# Verificando se o valor 10 pertence a lista
print(10 in lista_teste_op)

False

In [94]:
# Verificando se o valor 100 pertence a lista
print(100 in lista_teste_op)

True

## Funções Built-in

In [ ]:
# Função len() retorna o comprimento da lista
len(lista_teste_op)

In [ ]:
# Função max() retorna o valor máximo da lista
max(lista_teste_op)

In [ ]:
# Função min() retorna o valor mínimo da lista
min(lista_teste_op)

In [5]:
# Criando uma lista
listadomercado2 = ["ovos", "farinha", "leite", "maças"]

In [6]:
# Adicionando um item à lista
listadomercado2.append("carne")

In [7]:
listadomercado4 = [1,2]

In [8]:
listadomercado4.append(listadomercado2)

In [9]:
listadomercado4

[1, 2, ['ovos', 'farinha', 'leite', 'maças', 'carne']]

In [10]:
listadomercado2

['ovos', 'farinha', 'leite', 'maças', 'carne']

In [11]:
listadomercado2.append("carne")

In [12]:
listadomercado2

['ovos', 'farinha', 'leite', 'maças', 'carne', 'carne']

In [13]:
listadomercado2.count("carne")

2

In [16]:
listadomercado2.remove("carne")

In [17]:
listadomercado2

['ovos', 'farinha', 'leite', 'maças']

In [18]:
# Criando uma lista vazia
a = []

In [19]:
print(a)

[]

In [20]:
type(a)

list

In [21]:
a.append(10)

In [22]:
a

[10]

In [23]:
a.append(50)

In [24]:
a

[10, 50]

In [30]:
old_list = [1,2,5,10]

In [31]:
new_list = []

In [32]:
# Copiando os itens de uma lista para outra
for item in old_list:
    new_list.append(item)

In [34]:
for i in range(1,20):
    new_list.append(i)

In [35]:
new_list

[1,
 2,
 5,
 10,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19]

In [29]:
c = [20,30]

In [68]:
new_list.reverse()

In [69]:
new_list

[19,
 18,
 17,
 16,
 15,
 14,
 13,
 12,
 11,
 10,
 10,
 9,
 8,
 7,
 6,
 5,
 5,
 4,
 3,
 2,
 2,
 1,
 1]

In [47]:
c.append(60)

In [48]:
c.append(70)

In [49]:
c

[20, 30, 60, 60, 70]

In [50]:
c.count(20)

1

In [51]:
cidades = ['Recife', 'Manaus', 'Salvador']
cidades.extend(['Fortaleza', 'Palmas'])
print (cidades)

['Recife', 'Manaus', 'Salvador', 'Fortaleza', 'Palmas']

In [52]:
cidades.index('Salvador')

2

Lembre-se: em Python o índice começa por 0!

In [53]:
cidades.index('Rio de Janeiro')

ValueError: 'Rio de Janeiro' is not in list

In [54]:
cidades

['Recife', 'Manaus', 'Salvador', 'Fortaleza', 'Palmas']

In [55]:
cidades.insert(2, 110)

In [56]:
cidades

['Recife', 'Manaus', 110, 'Salvador', 'Fortaleza', 'Palmas']

In [57]:
# Remove um item da lista
cidades.remove(110)

In [ ]:
cidades

In [58]:
# Reverte a lista
cidades.reverse()

In [59]:
# Imprime a lista
cidades

['Palmas', 'Fortaleza', 'Salvador', 'Manaus', 'Recife']

In [60]:
x = [3, 4, 2, 1]

In [61]:
x

[3, 4, 2, 1]

In [62]:
# Ordena a lista
x.sort()

In [63]:
x

[1, 2, 3, 4]

# Fim

### Obrigado

### Visite o Blog da Data Science Academy - <a href="http://blog.dsacademy.com.br">Blog DSA</a>